/*@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
*/

/*import police Roboto*/
/*roboto*/
@font-face{font-family:'Roboto-Bold';src:url('fonts/Roboto-Bold-webfont.woff') format('woff');}
@font-face{font-family:'Roboto-Regular';src:url('fonts/Roboto-Regular-webfont.woff') format('woff');}

@font-face{font-family:'RobotoMono-Bold';src:url('fonts/RobotoMono-Bold.woff') format('woff');}
@font-face{font-family:'RobotoMono-Regular';src:url('fonts/RobotoMono-Regular.woff') format('woff');}
/*import police Roboto*/

body{width:100vw;font-family:Roboto-Regular;font-size:1em;}
nav{background:#0C1330;height:100px;padding: 10px 30px;line-height: 30px;}
#navbar label {color: #00DFEB;font-size: 1em;    margin-left: 2vw;text-align: center;font-family: Roboto-Bold;}
#navbar .btn {background: transparent;}
.landing1 p,.landing2 p, .benefit p, .crossp, .faq p{text-align: justify;}
/*
#navbar .dropdown-trigger{color: #00DFEB;background: transparent;    border: 1px solid #00DFEB;border-radius: 5px;}
*/
nav ul a:hover, nav ul a:active{color: #00DFEB;font-family:Roboto-Bold;}
nav .nav-wrapper {padding-top: 10px;}
.nav-wrapper label{font-weight: 700;}
.item-menu{margin-left: 20vw;margin-top: 10px;}
.brand-logo img{width: 210px;}
.langue{width:5vw;}
.r-menu{color:#00DFEB;background:transparent;width:7vw;border:1px solid #00DFEB;border-radius: 5px;margin-left: 3vw;text-align: center;height: 36px;}
.r-menu a{color:#00DFEB;color:#00DFEB;padding:0;margin:0!important;width:100%;text-align: center;font-size:16px;text-transform: inherit;}
.r-menu:hover, .r-menu:active{color: #00DFEB;}
.r-menu i.large.material-icons {height: auto;line-height: normal;    margin-top: 5px;}
a.dropdown-trigger {padding-left: 25px;}
.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons{color:#00DFEB;float: right;    margin: 0 40px 0 0;width: 24px;}
.sidenav i.large {font-size: 4rem;}
.sidenav .r-menu-m a{color:#00DFEB }
.dropdown-content li>a, .dropdown-content li>span{background:#0C1330;}
.sidenav{background:#0C1330;border: 1px solid#fff;}
.sidenav li label{text-align: center;}
.sidenav li a {color: #fff;}
.sidenav li a:active, .sidenav li a:hover {color: #00DFEB;}
.sidenav  label{text-align: center;}
.dropdown-trigger{display: inline-flex;}
.dropdown-content{border: 2px solid #00DFEB;border-radius: 5px;}
.pseudo{}
.logoutb, .connecteduser, .pseudo{display: none; text-align: center; }

/*gradient */
.gradrient{background: #3a6186;  /* fallback for old browsers */background: -webkit-linear-gradient(to bottom, #0C1330, #2252E3);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to bottom, #0C1330, #2252E3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  padding-top:30px;}
h1, h2{color:#00DFEB;}
h1{font-size:3em;font-family: RobotoMono-Regular;line-height: 1.150em;}
h2{font-size: 2.6em;font-family: RobotoMono-Regular;margin-bottom: 80px;}
.landing1 h4{font-size: 30px;font-family: RobotoMono-Regular;margin-bottom: 0;}
.landing1 img, .landing2 img,.landing3 img,.teamimg{width:100%;}
.landing1 p, .landing2 p{color:#FFFFFF;font-size:1.067em;font-family: Roboto-Regular}
.landing1 img{    margin:30% 0%;}
.warningP{color:#FFCB05;}
#counter {border:1px solid #00DFEB; color: #FFF; border-radius: 5px;}
#counter .table_cell{display: inline-flex;}
.table_row{display: flex;justify-content: space-around;font-size:26px;}

/*whatis*/
.landing2 img{margin:15% 0%;}
.video{color:#FFCB05;margin:60px 0;}
.video a{background: transparent;color:#FFCB05;border:1px solid #00DFEB;margin-right: 5vw;}
.video i{border-radius: 30px;border:1px solid #00DFEB;font-size: 54px;vertical-align: middle;cursor: pointer;}
.video i:hover{background:#00DFEB;}
.materialboxed{display:none;}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #2252E3;
    display: none;
    opacity: .8!important;
}
.responsive-video{width: 100vw;background:#000;padding:5vh 5vw;position: fixed;top: 0;top: 0;left: 0;bottom: 0;right: 0;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;-webkit-transition: opacity .25s;transition: opacity .25s;height:100vh!important;}
.btn:hover, .btn-large:hover, .btn-small:hover {background-color: #00DFEB;}
.materialboxed:hover:not(.active){opacity:1;}
#about .closelog{    width: unset;
    margin: 0;
    right: 10px;
    position: absolute;
    background: #000;
    padding-top: 0;  }
/*whatis*/
.landing2 p{margin-top: 0;}
/*keybenefits*/
.landing3 img {margin-top: 30px;}
.benefit h6{font-size: 2em;color:#FFCB05;font-family: Roboto-Regular;}
.benefit p{font-size: 1.067em;color:#FFF;}
.benefit-space{height: 140px}
.b-left{text-align: right;}
.b-left .divid{  height: 3px;  background: #3a6186;  /* fallback for old browsers */  background: -webkit-linear-gradient(to right, #00DFEB, transparent);  /* Chrome 10-25, Safari 5.1-6 */  background: linear-gradient(to right, #00DFEB, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  }
.b-right .divid{  height: 3px;background: #3a6186;  /* fallback for old browsers */background: -webkit-linear-gradient(to left, #00DFEB, transparent);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to left, #00DFEB, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  }
/*keybenefits*/
/*team landing4*/
.card{box-shadow: none;position: inherit;}
.landing4 .card,.landing5 .card {background-color: transparent;}
.teamimg{margin:60% 0;}
.card .card-title{color:#00DFEB;font-size:16px;height: 7vh;}
.card .card-content{padding: 24px 0;}
.card .card-content p{color:#FFCB05;font-size: 16px;height: 10vh;}
.member a img {width: 2em!important;}
.card .card-content .card-title{}
/*team landing4*/
/*advisors landing5*/
.landing5{margin-bottom:0;}
.landing5 .teamimg{margin:20% 0;}
/*advisors landing5*/
/*gradient */
/*landing6*/
.landing6{color:#FFF;background:#0C1330;}
.landing6 img{ width:100%;}
/*landing6*/
/*pdf*/
.pdf{text-align: center;margin-bottom: 40px;}
.pdf a{display: inline-grid;}
.pdf img{padding-bottom: 20px; margin: auto}
/*footer*/
footer{background-color:#0C1330!important;color:#00DFEB!important; }
.page-footer .logo img{width: 100%;}
.page-footer a{color:#00DFEB!important}
.page-footer h5{font-size: 1em;margin-bottom:50px;}
.rsfooter{ display: flex;justify-content: space-between;}
.page-footer ul{margin-top:0;}
.page-footer .footer-copyright{color: #00DFEB;}
.copyright{text-align: center;padding: 50px 0;}
/*footer*/

/*sidesocial*/
.sidesocial{position: fixed;right: 2vw;color: #00DFEB;}
.social{border:1px solid #00DFEB;border-radius:5px;margin-bottom: 15px;
    height: 40px;}
.followers{vertical-align: super;}
/*sidesocial*/
/*login sign in*/
.log_sign_in {width: 100vw;height: 100vh;position: fixed;z-index: 99;top:0;}
.log_sign_in .wrapper{background: #2252E3;height:100%;margin-top: 5vh;}
.opaque{opacity: 0.9;background: #2252E3;}
.log_sign_in .input-field .prefix ~ input{margin-left:0;width: 100%;background:#fff;border-radius:5px;}
.log_sign_in .input-field.col .prefix ~ label{margin-left:1em;}
.login-text p a{color:#00DFEB!important;font-size:14px;}
.login-text a{}
.login-text .rememberme label{color:#00DFEB!important;font-size:14px;}
.tablogsign{background: transparent;display: flex;justify-content: space-between;}
.tabs .tab a{color:#FFF;padding: 0;}
.tablogsign a{text-transform:initial;color:#fff;}
.tablogsign .tab{margin-left:0!important;}
.tabs .tab a:hover, .tabs .tab a.active{color:#00DFEB;font-size:16px;}
.tabs .indicator{background-color:transparent;}


[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after{border: 2px solid #fff;background: #fff;border-radius: 15px;}
[type="checkbox"]:checked+span:not(.lever):before{    border-radius: 0px;
    background: transparent;border-right: 3px solid #FFCB05;
    border-bottom: 3px solid #FFCB05;}
[type="checkbox"]+span:not(.lever){padding-left: 25px;}
.button-log a{height: 50px;color:#2252E3;background:#00DFEB;margin-top:20px;padding-top:5%!important;}

.wrapper{padding-top: 10vh!important;}
.closelog{top:1vh;margin-top: 3vh;cursor:pointer;margin-left: 20vw;opacity: 0.9;text-align: right;padding-top: 20px;margin-top:0;}

/*login sign in*/

/*landing7 papers*/
#papers img{width: auto;margin:0;}
/*landing7 papers*/

/*landing7 faq*/
.landing7 h2 {color:#2252E3;line-height: 60px;margin-bottom: 40px;}
.landing7 p{color:#2252E3;font-family: Roboto-Regular;font-size: 16px;line-height: 25px;}
.landing7 .btn{background: #00DFEB;color:#2252E3;text-transform: none;width: 100%;margin-top:20px;}
.landing7 img{width:100%;margin: 30% 0;}
.faqgeneral, .faqico, .faqservices, .faqtechnology{display: none;}
.collapsible-header {
    font-family: RobotoMono-Regular;
    color: #00E7F0;
    font-size: 2.333em;}
.landing7 .divider{height: 3px;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00DFEB, transparent);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00DFEB, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.collapsible{border:none;box-shadow: none;margin-top: 100px;}
.collapsible-header i{font-size: 3rem;}
.collapsible-header, .collapsible-body{border-bottom: none;}
.landing7{margin-bottom:50px;margin-top:60px;}
.collapsible-header:focus{outline:none;}
.faq .collapsible{margin-top: 0;}
.landing7 .sidesocial{bottom: 15vh;}
/*landing7 faq*/

/*crosstoken*/
.crosstokenbloc{border-radius: 20px; background:#00DFEB;width: 100%;}
.crosstokenbloc p{font-family: RobotoMono-Regular;text-align: center;font-size: 18px;line-height: 30px;padding: 0px 30px;}
.crosslinks a{text-align: right; color:#2252E3;font-size: 12px;}
.token{cursor:pointer;text-align: center;}
.token span{color:#2252E3;font-family: Roboto-Regular;font-size: 16px;background: #fff;height: 50px;    display: table-cell;vertical-align:middle;border-radius:5px; width:30vw;  text-align: center;}
.token span:hover, .token.active span{color:#fff;background: #2252E3;}
.crosstokenlists{overflow: scroll;height: 210px;}
.crosstokenlist{margin:20px 0;}
.crosstokenlist label{background: #00DFEB;    padding: 10px;margin: auto;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #58EAF2, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #58EAF2, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    height: 50px;
    border-radius: 5px;color:#2252E3;
}
.crosstokenlist [type="radio"]:not(:checked)+span, [type="radio"]:checked+span{display: block;text-align: right;padding-right: 10px;}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{color:#2252E3;}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{color:#2252E3;}
.crosstokenlisy [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{    border: 2px solid #2252E3;}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #2252E3;
}
[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
    border: 1px solid #2252E3;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color:#2252E3;
}
.wallets{
    color: #2252E3;
    font-size: 12px;    margin-top: 40px;
    margin-bottom: 40px;}
#crosstokenpage .social{border: 1px solid #2252E3;}
#crosstokenpage .sidesocial{color:#2252E3;}
span.puce {
    display: list-item;
    list-style-type: disc;
}
.faq li{    padding-top: 10px;}

.crosstokenlists::-webkit-scrollbar {
    width: 10px;
}

.crosstokenlists::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px #2252E3;
    border-radius: 10px;
    height: 90px;
}

.crosstokenlists::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #2252E3;

    background-color: #2252E3;
    border: 10px solid #2252E3;
    border-radius: 9px;
    background-clip: content-box;
}
.crosspage img{width:auto;}
.modal{background-color:transparent;    max-height: 100vh;}
#modallogin{top:0!important;}
#modallogin .modal-content{padding: 0;}
/*crosstoken*/

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .collapsible-header {font-family: RobotoMono-Regular;color: #00E7F0;font-size: 1.667em;}
    .faqbuttons a {font-size:0.800em;}
    nav ul a{font-size:.75em!important;}
    #navbar label{font-size:.75em!important;}
    .r-menu{margin-left:1em;width:5vw;}
    a.dropdown-trigger {padding-left: 10px;}
    .landing1 img {margin: 60% 0%;}
    .card .card-content p {height: 7vh;}
    .token span{font-size: 12px;}
}
/*ipad pro*/
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .collapsible-header {font-family: RobotoMono-Regular;color: #00E7F0;font-size: 1.667em;}
    .faqbuttons a {font-size:0.800em;}
    nav ul a{font-size:.75em!important;}
    #navbar label{font-size:.75em!important;}
    .r-menu{margin-left:1em;width:5vw;}
    a.dropdown-trigger {padding-left: 10px;}
    .landing1 img {margin: 60% 0%;}
    .card .card-content p {height: 7vh;}
    .token span{font-size: 12px;}
}